{% if include_sickbeard %}
# Sickbeard
location {{ sickbeard_webroot }} {
        proxy_pass        http://localhost:{{ sickbeard_port }}{{ sickbeard_webroot }}/;
        proxy_redirect    http://localhost:{{ sickbeard_port }}{{ sickbeard_webroot }}/ https://$host{{ sickbeard_webroot }};
        include           proxy-control.conf;
}
{% endif %}

{% if include_sabnzbd %}
# Sabnzbd
location {{ sabnzbd_webroot }} {
        proxy_pass        http://localhost:{{ sabnzbd_port }}/sabnzbd;
        proxy_redirect    http://localhost:{{ sabnzbd_port }}/sabnzbd https://$host{{ sabnzbd_webroot }};
        include           proxy-control.conf;
}
{% endif %}

{% if include_nzbdrone %}
# NZBDrone
location {{ nzbdrone_webroot }} {
        proxy_pass        http://localhost:{{ nzbdrone_port }};
        proxy_redirect    http://localhost:{{ nzbdrone_port }}{{ nzbdrone_webroot }} https://$host{{ nzbdrone_webroot }};
        include proxy-control.conf;
}
{% endif %}

{% if include_couchpotato %}
# Couchpotato
location {{ couchpotato_webroot }} {
        proxy_pass        http://localhost:{{ couchpotato_port }};
        proxy_redirect    http://localhost:{{ couchpotato_port }} https://$host{{ couchpotato_webroot }};
        include           proxy-control.conf;
        proxy_redirect    off;
}
{% endif %}

{% if include_transmission %}
# Transmission
location {{ transmission_webroot }} {
    proxy_pass http://localhost:{{ transmission_port }};
    proxy_redirect http://localhost:{{ transmission_port }} https://$host{{ transmission_webroot }};
    proxy_pass_header X-Transmission-Session-Id;
    include proxy-control.conf;
}
{% endif %}
